@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }

}

.req {
    color: red;
    font-weight: bold;
}





/*
    Login CSS
*/

.divtop {
    padding-top: 200px;
}

.loginDiv {
    padding-top: 100px;
}

.Logoimg {
    width: 80%;
    margin-top: 30px;
}

.linkbtn {
    cursor : pointer;
}


/*---------------------------------------*/